@page "/test"
@page "/test2"


<h3>@title</h3>

<div class="from-group">

    <div class="container">
        <div class="btn-toolbar">
            <button class="btn btn-outline-warning">
                <span class="fas fa-home"></span>
                Warning
            </button>
            <button class="btn btn-outline-success">
                <span class="oi oi-check"></span>Success
            </button>


            <CustomEditButtonComponent Caption="ShowMessage" OnClick="@changeTitle" />
            <CustomEditButtonComponent Caption="Test Edit Button" Color="danger" IsOutLine="true" IsBusy="false" OnClick="@showConfirmation" />

            <ButtonComponent Caption="deneme" Color="success" IsBusy="true" />

            @*<button @onclick="changeTitle">Show Modal</button>*@

        </div>
    </div>
</div>

@code {
    //private PageTitle = "";

    [CascadingParameter]
    IModalService Modal { get; set; }

    [Inject]
    ModalManager ModalManager { get; set; }

    private String title = "";

    private async Task changeTitle()
    {
        await ModalManager.ShowMessageAsync("Show Message Title", "Kayıt Silindi", 3000);

        //ModalParameters mParams = new ModalParameters();
        //mParams.Add("Message", "Bu bir test popup denemesidir.");

        //Modal.Show<ShowMessagePopupComponent>("Popup",mParams);
    }

    async Task showConfirmation()
    {
        var res = await ModalManager.ConfirmationAsync("Confirmations", "Are you sure that it will be deleted?");

        if (res) title = "Yes clicked"; else title = "no clicked";
    }

}