@page "/test"
@page "/test2"

@using BlazorApp1.Client.CustomComponents.Buttons

@*@inject IModalService Modal*@

<h3>test page</h3>
div.from-grop

<div class="container">
    <div class="btn-toolbar">
        <button class="btn btn-outline-warning">
            <span class="fas fa-home"></span>
            Warning
        </button>
        <button class="btn btn-outline-success">
            <span class="oi oi-check"></span>Success
        </button>


        <CustomEditButtonComponent Caption="Test Edit Button" Color="info" Icon="edit" />
        <CustomEditButtonComponent Caption="Test Edit Button" Color="danger" IsOutLine="true" IsBusy="true" />

        <ButtonComponent Caption="deneme" Color="success" IsBusy="true" />

        <button @onclick="changeTitle">Show Modal</button>

    </div>
</div>

@code {
    //private PageTitle = "";
    [CascadingParameter] IModalService Modal { get; set; } = default!;

    private void changeTitle()
    {
        ModalParameters mParams = new ModalParameters();
        mParams.Add("Message", "Bu bir test popup denemesidir.");

        Modal.Show<ShowMessagePopupComponent>("Popup",mParams);
    }
}